body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    overflow: hidden;
}

.login-bg {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #0F2027 0%, rgba(32, 58, 67, 0.94) 50%, rgba(44, 83, 100, 0.93) 100%), 
    url("../img/background3.jpg");
    background-size: cover;
    background-position: center;
}

.login-card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 410px;
    padding: 28px 22px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.34);
    border-radius: 11px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: 0px 13px 40px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(6.35px);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
}

.login-logo {
    width: 105px;
    margin-bottom: -6px;
}

.login-title {
    font-size: 32px;
    font-family: "SF Pro Rounded", sans-serif;
    font-weight: 700;
    color: #fff;
}

.login-subtitle {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.75);
    margin-top: -10px;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input-wrapper {
    width: 100%;
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0.34);
    border-radius: 11px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(6.35px);
}

.input-wrapper input {
    width: 100%;
    background: transparent;
    border: none;
    color: #eee;
    font-size: 16px;
    outline: none;
}

.show-pass {
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.75);
}

.show-pass input {
    width: 14px;
    height: 14px;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background: rgba(0, 0, 0, 0.34);
    border-radius: 11px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    color: rgba(255, 255, 255, 0.85);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.login-btn:hover {
    background: rgba(255, 255, 255, 0.1);
}

.go-back {
    margin-top: 10px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
