body {
    font-family: 'SF Pro Display';
    justify-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leBox {
    background: rgba(0, 0, 0, 0.34);
    border-radius: 11px;
    outline: 1px solid rgba(255, 255, 255, 0.11);
    outline-offset: -1px;
    backdrop-filter: blur(6.35px);

    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;

    box-shadow: 0 0 40px rgba(0, 0, 0, 0.25); /* optional but accurate */
}
